.landing-page {
  .home-banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("https://storage.googleapis.com/vinhomes-data-01/3.jpg");
    background-size: 100% 100%;

    .search-banner {
      position: absolute;
      left: 50%;
      bottom: 10%;
      transform: translate(-50%, 0);
      background-color: white;
      padding: 20px 5px;
      border-radius: 20px;
      justify-content: space-around;
      row-gap: 10px;

      .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
          font-size: 13px;
          font-weight: 400;
          line-height: 20px;
          color: #707070;
        }
      }
    }
  }

  .ant-row-rtl #components-layout-demo-top-side-2 .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }

  .site-layout-background {
    background: #fff;
  }

  .top-nav-header {
    .ant-menu-item.ant-menu-item-only-child {
      display: flex !important;
      align-items: center;
      justify-content: center;
    }
  }

  .dailynews-banner {
    background: #f5f1e6;
    padding: 30px 10vh 40px;
    margin: 50px 20px;

    background-image: url("https://vinhomes.vn/themes/porto/img/vinhomes/kn/bg-cudan-1.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    // padding-bottom: 30px;
    background-size: 610px auto;
    // margin: auto;

    &__top {
      .title {
        font-size: 40px;
        font-weight: 700;
        font-family: garamondpremrpro;
        color: #162b75;
        line-height: 48px;
        text-align: center;
      }
    }
    &__body {
      display: flex;
      justify-content: center;
      column-gap: 30px;
    }
    &__footer {
      margin: auto;
      margin-top: 40px;
      text-align: center;

      button {
        background: #dca447;
        border-radius: 3px;
        width: 200px;
        height: 45px;
        font-weight: 600;
        font-size: 13px;
        line-height: 150%;
        text-align: center;
        color: #fff;
        border: 1px solid transparent;
        user-select: none;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
      }
    }
  }
}
